
/* header */
.header {
    display: flex;
    gap:20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header .nav {
    display: flex;
    gap:20px;
    justify-content: left;
}

.header a {
text-decoration: none;
font-weight:700;
}

.header a:hover {
   opacity: 70%;
}

/* Specific styles for non-active links */
.link-inactive {
    color: black;
}

/* Specific styles for active links */
.link-active {
    color: var(--turquoise);
    border-bottom: 3px solid var(--turquoise);
}